<div class="main">
 	<h1 class="mailTit">
    <img class="infologo" src="./images/p3_001.png">发票开具成功！
  </h1>
  <div class="mailBox">
  </div>
</div>
<div class="area_btn" style="margin-top: 62px">
  <span class="bottom" style="background:#666;" ng-click="return()">返回</span>
  <span class="bottom" ng-click="print()">打印</span>
  <span class="bottom" style="background:#666;" ng-click="goEmail()">发送至邮箱</span>
</div>
<!--提示框-->
<div ng-show="payState=='success'"  class="maskLayer">
  <div class="notice" >
    <img src="./images/p3_003.png">
    <p>打印成功！({{timer}}s)</p>
  </div>
</div>
<div ng-show="payState=='underway'"  class="maskLayer">
  <div class="notice"  >
    <div class="box">    
        <div class="loading">
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>     
        </div>
    </div>
    <p>正在打印凭证…</p>
  </div>
</div>