<!-- 业务受理单 -->
<div class="container-fluid">
	<div class="row">
		<div class="wrapper">
			<div class="container">
				<div class="container-x">
					<div class="con-left">
						<div class="con-title" style="border-bottom: none;">客户资料</div>
						<div class="subpanel">
							<div class="infodiv">
								<p class="infodiv-name">手机号码</p>
								<p class="infodiv-val">{{userInfo.phone}}</p>
								<!-- <p class="infodiv-val">{{product.phone}}</p> -->
							</div>
							<div class="infodiv">
								<p class="infodiv-name">客户姓名/名称</p>
								<p class="infodiv-val">{{product.name}}</p>
							</div>
							<div class="infodiv">
								<p class="infodiv-name">证件号码</p>
								<p class="infodiv-val">{{userInfo.idNumber}}</p>
							</div>
							<div class="infodiv">
								<p class="infodiv-name">身份类型</p>
								<p class="infodiv-val">{{product.identityType}}</p>
							</div>
						</div>
					</div>
					<div class="con-right">
						<div class="con-title" style="padding-left: 30px;">
							业务受理内容
						</div>
						<div class="subpanel" style="max-height:370px; overflow-y:auto;">
							<div class="pannel-right">
								<div class="pannel-right">
									<p>受理日期：{{product.date}}</p>
									<p>受理网点：{{product.location}}</p>
									<p>订单号：{{product.orderNum}}</p>
									<p><br/>
									</p>
									<p>产品类型：{{product.productType}}</p>
									<p>业务类型：{{product.bizType}}</p>
									<p><br/>
									</p>
									<!-- <p>优惠费用：0元</p>
					<p>实收费用：2元</p>
					<p>支付方式：微信支付</p>
					<p>鉴权方式：身份证识别</p>
					<p>付费模式：全球通新预付费模式H账期</p> -->
									<p><br/>
									</p>
									<p>SIM卡：{{product.sim}}</p>
									<p>4G主资费套餐：{{userInfo.productName}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="PageBottom">
					<span ng-click="finishOrder()" class="bottom">确认并签名</span>
				</div>
			</div>
			<!--提示框-->
			<div ng-show="showWrite" class="maskLayer">
				<div class="signform">
					<div class="gap36"></div>
					<div class="tagform" style="width:560px">
						<div class="tf-title">{{pngPath}}请用正楷体在下方区域签名：</div>
						<div id="panel" class="tf-panel" style="height: 170px;background-color: #f2f2f2">
						</div>
					</div>
					<!-- <div class="gap36"></div> -->
					<div class="sf-btnarea" style="margin-top:12px;">
						<span class="bottom" ng-click="cancelWrite()" style="font-size:15px;background:#a89e9e">返回</span>
						<span class="bottom" ng-click="reWrite()" style="font-size:15px;background:#5c5656">清除</span>
						<span class="bottom" ng-click="finishWrite()" style="font-size:15px;">完成</span>
					</div>
				</div>
			</div>
		</div>
	</div>