<!-- 结果页面 -->
<!-- 办理失败 -->
<div>
    <div class="wrapper">
        <div class="centerdiv">
            <div class="centerdiv">
                <div class="pay_fail"></div>
                <div class="p8_area_txt">套餐办理失败，请稍后重试，或咨询工作人员，谢谢。</div>
            </div>
        </div>
        <div class="area_btn">
            <span ui-sref="zhyyt.pachanding" class="bottom" style="background: #ccc">重新办理</span>
            <span ui-sref="" class="bottom" style="background: #ccc">呼叫客服</span>
            <span ui-sref="home" class="bottom">退出办理</span>
        </div>
    </div>
</div>