<!-- 结果页面 -->
<!-- 办理成功 -->
<div>
    <div class="wrapper">
        <div class="centerdiv">
            <div class="centerdiv">
                <div class="pay_failSuccess"></div>
                <div class="p8_area_txt">套餐办理成功，将于2018-10-01生效，谢谢</div>
            </div>
        </div>
        <div class="area_btn">
            <span ui-sref="zhyyt.pachanding" class="bottom btn-color-disable">继续办理</span>
            <span ui-sref="zhyyt.fillInEmail" class="bottom btn-color-disable">发送单据至电子邮箱</span>
            <span ui-sref="home" class="bottom">无需票据，完成</span>
        </div>
    </div>
</div>