<div class="idpage">
    <div class="idpage-l">
        <div class="voiceBG"></div>
        <div class="idlogo"></div>
        <div class="btn-voice"> <!--加入class类 btn-voice-hover 转换为激活状态-->
            <div class="btn-voice-icon"></div>
            <p>有什么可以帮助您?</p>
            <h1>您可以说：</h1>
            <span>"我要办卡"</span>
        </div>
        <div class="btn-help">
            <div class="helpicon"></div>
            <span>人工客服</span>
        </div>
        <div class="circleBG"></div>
    </div>
    <div class="idpage-r">
        <div class="idicon-group">
            <ul>
                <li ng-click="go('zhyyt.choicePackage', '01')"><span><img src="images/idicon01.png"/></span><a href="">入网开户</a></li>
                <li ng-click="go('zhyyt.selectCardBusi', '06')"><span><img src="images/idicon06.png"/></span><a href="">补/换卡</a></li>
                <li ng-click="go('zhyyt.recharge', '03')"><span><img src="images/idicon03.png"/></span><a href="">充值缴费</a></li>
                <li ng-click="go('zhyyt.pachanding', '04')"><span><img src="images/idicon04.png"/></span><a href="">套餐办理</a></li>
                <li><span><img src="images/idicon05.png"/></span><a href="">停/开机</a></li>
                <li><span><img src="images/idicon02.png"/></span><a href="">查询服务</a></li>
                <li><span><img src="images/idicon07.png"/></span><a href="">密码服务</a></li>
                <li><span><img src="images/idicon08.png"/></span><a href="">电子发票</a></li>
            </ul>
            <!--页面滚动-->
            <div class="idscroll">
                <span class="current"></span>
                <span class=""></span>
                <span class=""></span>
            </div>
        </div>
        <div class="pagedot-group">
            <div class="pdhover"></div>
            <div class="pd"></div>
        </div>
    </div>
</div>